@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6, p, ul, body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  font-weight: 500;
  font-size: 32px;
  color: black;
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background: #EEEFF1;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0 70px 0;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-left: 42px;
}

.hero {
  background: #EEEFF1;
}
.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-wrap: wrap;
  padding-top: 70px;
  margin-left: 101px;
}
.hero__left {
  padding-top: 21px;
}
.hero__title {
  font-weight: 500;
  font-size: 48px;
  color: black;
}
.hero__description {
  margin: 60px 0;
}
.hero__btn {
  padding: 25px 41px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  letter-spacing: 0.1em;
  background: #34547A;
  border: none;
  margin-bottom: 146px;
}

.info__content {
  text-align: center;
}
.info__title {
  padding: 119px 0 50px;
}
.info__description {
  padding-bottom: 100px;
}

.icons {
  background: #34547A;
}
.icons__content {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.skill__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 102px 0 101px 0;
}
.skill__lines {
  background: #C4C4C4;
  width: 445px;
  height: 5px;
  margin-bottom: 30px;
}
.skill__line {
  background: #34547A;
  transform: rotate(-0.06deg);
  width: 349.36px;
  height: 5px;
}
.skill__description {
  margin-bottom: 20px;
}
.skill__title {
  margin-bottom: 50px;
}

.video {
  background: #EEEFF1;
}
.video__top {
  text-align: center;
}
.video__title {
  padding: 100px 0 50px 0;
}
.video__description {
  padding-bottom: 57px;
}
.video__bottom {
  padding-bottom: 100px;
}

.cont {
  max-width: 1920px;
  margin: 0 auto;
}

.project__content {
  padding: 28px 0 72px 0;
}
.project__top, .project__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.client__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.conta {
  max-width: 540px;
  margin: 0 auto;
}

.form {
  background: #EEEFF1;
}
.form__title, .form__description {
  text-align: center;
}
.form__title {
  padding: 100px 0 50px 0;
}
.form__description {
  padding-bottom: 65px;
}
.form__btn {
  padding: 50px 0 100px 0;
  display: flex;
  justify-content: center;
}
.form__i {
  padding: 17px 80px 18px 20px;
  background: white;
  border: none;
  font-weight: 400;
}
.form__top {
  display: flex;
  justify-content: space-between;
}
.form__bottom {
  padding: 17px 348px 143px 20px;
  font-size: 14px;
  border: none;
  margin-top: 20px;
}

.footer {
  background: #34547A;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
}
.footer__item {
  margin-left: 22px;
}
.footer__title {
  font-weight: 500;
  font-size: 21px;
  color: white;
  padding-bottom: 10px;
}
.footer__description {
  font-weight: 400;
  font-size: 13px;
  color: white;
  padding-top: 10px;
}/*# sourceMappingURL=index.css.map */