@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;   
    color: $color;
}

@mixin flex($justify, $align, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}