body {
    font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6, p, ul, body {
 margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.title {
    @include font(500, 32px, black);
}
.description {
    @include font(400, 16px, #727272);
}